@import url("admin/top-bar.css?ver=1.2");
@import url("admin/campaign.css?ver=1.3");
@import url("admin/login.css?ver=1.3");
@import url("admin/landing.css?ver=1.3");
@import url("admin/church.css?ver=1.3");
@import url("admin/admin.css?ver=1.3");



@font-face {
    font-family: "Gotham-Book";
    src: url('../font/GothamSSm-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham-Bold";
    src: url('../font/GothamSSm-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham-Medium";
    src: url('../font/GothamSSm-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot?v=4.7.0');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    display: block;
}
html[Attributes Style] {
    -webkit-locale: "en-US";
}

*, *::before, *::after {
    box-sizing: inherit;
    transition: all ease-out 0.3s;
}

body {
    box-sizing: border-box;
    display: block;
    font-size: 0.9em;
    background-image: url("../img/bg.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gotham-Book";
    color: #777;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: inherit;
    font-family: "Gotham-Bold" !important;
}

h1 {
    font-size: 1.2em;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

/*   appreanace: none   */
a,
input[type='text']
input[type='submit'],
textarea,
button,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*   outline: none   */
input,
textarea,
button,
select {
    outline: none !important;
}

pre {
    font-size: 1em;
    color: #777;
    font-family: "Gotham-Book" !important;
    margin: 0;
    padding: 0;
}

/*   margin, padding: 0   */
img {
    margin: 0;
    padding: 0;
    user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

input[type='text']
input[type='submit'],
button,
textarea {
    font-size: 0.9em;
    color: #777;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

input[type='date'] {
    margin: 0;
    margin-bottom: 1em;
}




/*   fonts   */
.font--book {
    font-family: "Gotham-Book" !important;
}
.font--bold {
    font-family: "Gotham-Bold" !important;
}


/*   border-radius: 4px   */
.border--round {
    border-radius: 4px;
}

.hide {
    display: none !important;
}


/*   orange gradient on top of background   */
#bg {
    box-sizing: border-box;
    padding: 0.5em;
    padding-top: 6em;
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 0;
    top: 0;
    bottom: 0;
    background: none;
}
#wrapper {
    width: 100%;
    max-width: 1300px;
    padding: 1em;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    display: block;
}


.admin-content {
    display: block;
    width: 100%;
    padding: 2em;
    margin: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    background: #fff;
    max-width: 1100px;
    border-radius: 4px !important;
}


#tag-admin {
    text-transform: uppercase;
    font-family: "Gotham-Bold" !important;
    font-size: 0.9em;
    margin-left: -1em;
}




.highlight {
    color: #039da6;
}
.capitalize {
    text-transform: uppercase;
}



#footer {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    font-family: "Gotham-Book" !important;
    line-height: 1.5;
    margin-top: 2em;
    margin-bottom: 3em !important;
}



#introduction {
    font-size: 1.1em;
    text-align: left;
    padding-left: 2em;
}





/* Text Editor */
#new-goal-description {
    width: 38em !important;
    color: #777;
    font-size: 1em;
    min-height: 8em;
    font-family: "Gotham-Book" !important;
    border-radius: 0 0 4px 4px;
    margin-bottom: 1em;
}
#details-goal-description {
    width: 38em !important;
    color: #777;
    font-size: 1em;
    min-height: 8em;
    font-family: "Gotham-Book" !important;
    border-radius: 0 0 4px 4px;
    margin-bottom: 1em;
}
.ql-toolbar {
    width: 38em !important;
    border: 1px solid #d1d1d1;
    border-radius: 4px 4px 0 0;
    margin-top: 0.55em;
}
.ql-container {
    margin-top: 0.5em;
}
.text-editor {
    margin-top: 0.5em;
}
.text-editor p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    margin-bottom: 1em !important;
}
.ql-container, .ql-toolbar {
    border-color: #d1d1d1;
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #039da6 !important;
}




.admin-text {
    width: 16em;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: none;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin-right: 1em;
    margin-bottom: 1em;
}
.admin-text-long {
    width: 22em;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: none;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin-right: 1em;
    margin-bottom: 1em;
}
.admin-textarea {
    width: 33em;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: none;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin-right: 1em;
    margin-bottom: 1em;
}
.admin-text.small {
    width: 9em;
}

.admin-submit {
    width: 12em;
    border: 0;
    border-radius: 4px;
    background: #039da6;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #fff;
    cursor: pointer;
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.admin-submit:hover {
    background: #048484;
}


.admin-button {
    width: 12em;
    border: 0;
    border-radius: 4px;
    background: #777;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #fff;
    cursor: pointer;
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.admin-button:hover {
    background: #666;
}

.admin-button-delete {
    width: 8em;
    text-align: left;
    border: 0;
    background: none;
    padding: 0.7em;
    font-size: 0.95em;
    font-family: "Gotham-Book" !important;
    color: #999;
    cursor: pointer;
    margin-left: 2em;
    margin-top: -2.5em;
    position: absolute;
    left: 0;
    text-transform: uppercase;
}
.admin-button-delete:hover {
    color: #db5353;
}



.dropdown {
    width: 22em;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: none;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    text-align: left;
}
.dropdown img {
    float: right;
    width: 1.5em;
    margin-top: 0.2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drop {
    visibility: hidden;
    position: absolute;
    width: 22em;
    max-height: 20em;
    overflow-y: auto;
    border: 0;
    border-radius: 4px;
    background: #fff;
    padding: 0.7em;
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: -0.5em;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}
.drop-item {
    color: #555;
    cursor: pointer;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1em;
    background: none;
    border: 0;
    border-radius: 2px;
}
.drop-item:hover {
    background: #e5e5e5;
}
.drop-item span {
    float: right;
    color: #aaa;
    font-size: 0.9em;
    vertical-align: middle;
}
.drop-group {
    color: #aaa;
    cursor: default;
    font-size: 0.9em;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}











.green {
    color: #43b471 !important;
}
.red {
    color: #db5353 !important;
}




.error {
    visibility: hidden;
    position: absolute;
    float: right !important;
    width: 22em;
    border: 0;
    border-radius: 4px;
    background: none;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.95em;
    font-family: "Gotham-Book" !important;
    color: #555;
    margin-left: -1.3em;
    vertical-align: middle;
}

.error-icon {
    margin-right: 0.5em;
    width: 1.7em;
    height: auto;
    vertical-align: middle;
}






::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #bbb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #bbb;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bbb;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #bbb;
}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {


}

