#content-create-admin {
    padding: 0;
    padding-top: 4em;
    padding-bottom: 4em;
}
#content-create-admin section {
    padding-top: 4em;
    padding-bottom: 2em;
    border-bottom: 1px solid #d1d1d1;
    width: 90%;
}


#content-create-admin div#title {
    font-size: 1.5em;
    font-family: "Gotham-Bold" !important;
    color: #444;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-top: 1em;
}

#content-create-admin p {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    vertical-align: top;
}


#campaign-church {
    margin-top: 0.5em;
}





#landing-wrapper {
    max-width: 75em;
    min-height: 20em;
    padding: 2em;
    margin-top: 1em;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    text-align: center;
    border-radius: 4px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.landing-title {
    font-family: "Gotham-Bold" !important;
    font-size: 1em;
    margin-bottom: 1em;
    color: #777;
}

.landing-content {
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: 3em;
    padding-top: 4em;
    padding-bottom: 5em;
    margin: 0;
    text-align: center;
}

.landing-content-now {
    display: block;
}

.landing-tab-div {
}

.landing-tab {
    border-bottom: 0.3px solid #d1d1d1;
    padding: 0;
}

.landing-tabs {
    font-size: 0.9em;
    background: none;
    border: none;
    outline: none;
    color: #606060;
    font-family: "Gotham-Bold" !important;
    cursor: pointer;
    padding: 1em;
    border-bottom: 4px solid #fff;
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: -0.05em;
}
.landing-tabs-now {
    border-bottom: 6px solid #039da6;
}

#landing-tab-transaction {
    margin-left: 20em;
}



.landing-text {
    width: 32em;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: none;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin-bottom: 1em;
}


.landing-add {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.landing-button {
    width: 35em;
    border: 1.99px dashed #ccc;
    border-radius: 4px;
    background: #fff;
    padding: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.9em;
    font-family: "Gotham-Book" !important;
    color: #c1c1c1;
    cursor: pointer;
    margin-top: -0.5em;
}
.landing-button:hover {
    background: #f2f2f2;
}

.landing-button img {
    margin-right: 1em;
    width: 1.6em;
    height: 1.6em;
    vertical-align: middle;
}






.col-church-profile-picture {
    vertical-align: middle;
    width: 4em;
    height: 4em;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}
.col-church-name {
    width: 25.7em;
    padding-left: 3.3em;
    text-align: left;
    display: inline-block;
}
.col-church-state {
    width: 22em;
    text-align: left;
    display: inline-block;
}
.col-church-campaign {
    width: 9em;
    text-align: right;
    display: inline-block;
}

.col-campaign-status {
    width: 5.2em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.col-campaign-church {
    width: 17.3em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.col-campaign-book {
    width: 11em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.col-campaign-language {
    width: 12.5em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.col-campaign-duration {
    width: 11em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.col-campaign-percentage {
    width: 4.5em;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

.col-language-id {
    width: 10.5em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.col-language-name {
    text-align: left;
    width: 23.3em;
    display: inline-block;
    vertical-align: middle;
}
.col-language-region {
    display: inline-block;
    vertical-align: middle;
}

.col-user-name {
    width: 23.5em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.col-user-email {
    width: 34.6em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.col-user-role {
    width: 3em;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}
.col-user-role img {
    width: 2.25em;
    height: auto;
    vertical-align: middle;
}


.col-transaction-tid {
    width: 11em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.col-transaction-cid {
    width: 9.2em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.col-transaction-name {
    width: 13.5em;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.col-transaction-verses {
    width: 4em;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}
.col-transaction-amount {
    width: 8.3em;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}
.col-transaction-date {
    width: 10em;
    padding-left: 3em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.col-transaction-buttons {
    width: 6em;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}
.col-transaction-buttons button {
    background: none;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 0.7em;
    padding: 0;
    border-radius: 50%;
}
.col-transaction-buttons button:hover {
    background: #fff;
}
.col-transaction-buttons img {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

#list-transaction .list-item {
    cursor: default;
}
#list-transaction .list-item.transaction-denied div {
    color: #d1d1d1;
    //text-decoration: line-through !important;
}




.drop-item.added {
    color: #ccc !important;
    cursor: default !important;
}
.drop-item.added:hover {
    background: none !important;
}
.drop-item.added .church-tag, .drop-item.added .language-tag {
    color: #ccc !important;
}

#list-language .list-item {
    text-align: left;
    vertical-align: middle;
}


#language-info {
    display: none;
}

#add-language {
    width: 26em;
}
#drop-add-language {
    width: 26em;
}

.outline-button {
    width: 16em;
    border: 1px solid #039da6;
    border-radius: 4px;
    background: none;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #039da6;
    margin-bottom: 1em;
    z-index: 10;
    cursor: pointer;
}
.outline-button:hover {
    background: #039da6;
    color: #fff;
}


.tag-id {
    float: left !important;
    padding-top: 0.1em;
    width: 3.5em;
    color: #555 !important;
    font-size: 0.9em;
    vertical-align: middle;
}




.status-complete {
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    background: #bbb;
    margin-left: 1em;
}
.status-inprogress {
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    background: #039da6;
    margin-left: 1em;
}
.status-coming {
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    background: #FD9A00;
    margin-left: 1em;
}
.status-pending {
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    border: 1px solid #aaa;
    margin-left: 1em;
}





/* List Columns  */
#column-campaign-status {
    width: 5em;
}
#column-campaign-church {
    width: 17em;
}
#column-campaign-book {
    width: 10.5em;
}
#column-campaign-language {
    width: 12em;
}
#column-campaign-duration {
    width: 11em;
}


#column-church-profile-picture {
    width: 4em;
}
#column-church-name {
    width: 25em;
    padding-left: 3em;
}
#column-church-state {
    width: 25em;
}



#column-language-id {
    width: 10em;
}
#column-language-people-group {
    width: 23em;
}
#column-language-region {
}


#column-user-name {
    width: 23em;
}
#column-user-email {
    width: 35em;
}
#column-user-role {
}


#column-transaction-tid {
    width: 10.5em;
}
#column-transaction-cid {
    width: 9em;
}
#column-transaction-name {
    width: 14em;
}
#column-transaction-verses {
    width: 7em;
}
#column-transaction-amount {
    width: 8em;
}
#column-transaction-date {
}

