#content-create-admin {
    padding: 0;
    padding-top: 4em;
    padding-bottom: 4em;
}
#content-create-admin section {
    padding-top: 4em;
    padding-bottom: 2em;
    border-bottom: 1px solid #d1d1d1;
    width: 90%;
}


#content-create-admin div#title {
    font-size: 1.5em;
    font-family: "Gotham-Bold" !important;
    color: #444;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-top: 1em;
}

#content-create-admin p {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    vertical-align: top;
}


#campaign-church {
    margin-top: 0.5em;
}



.landing-title {
    font-family: "Gotham-Bold" !important;
    font-size: 1em;
    margin-bottom: 1em;
    color: #777;
}


.landing-text {
    width: 35em;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: none;
    padding: 0.7em;
    padding-left: 2.5em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin-bottom: 1em;
}




.button-add {
    width: auto;
    border-radius: 4px;
    background: #039da6;
    border: 0;
    padding: 0.9em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.9em;
    font-family: "Gotham-Book" !important;
    color: #fff;
    cursor: pointer;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: -0.2em;
    vertical-align: middle;
}
.button-add:hover {
    background: #048484;
}
.button-add i {
    margin-right: 0.5em;
    vertical-align: middle;
}


#search-campaign, 
#search-language,
#search-church,
#search-user,
#search-transaction {
    position: relative;
    margin-left: -2em;
}

.col-campaign {
    display: grid;
    grid-template-columns: 5.5em 1fr 11em 0.7fr 13em 11em 4.8em;
    grid-template-rows: 1fr;
    grid-gap: 0;
    text-align: left;
}
.col-church {
    display: grid;
    grid-template-columns: 6.5em 1fr 9em 11em 7em;
    grid-template-rows: 1fr;
    grid-gap: 0;
    text-align: left;
}
.col-language {
    display: grid;
    grid-template-columns: 9em 1fr 19em 14em;
    grid-template-rows: 1fr;
    grid-gap: 0;
    text-align: left;
}
.col-user {
    display: grid;
    grid-template-columns: 1fr 20em 3em;
    grid-template-rows: 1fr;
    grid-gap: 0;
    text-align: left;
}
.col-transaction {
    display: grid;
    grid-template-columns: 13em 11em 1fr 7em 10em 12em 5em;
    grid-template-rows: 1fr;
    grid-gap: 0;
    text-align: left;
}


.col-campaign-status {
    text-align: center;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-campaign-church {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-campaign-book {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-campaign-language {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-campaign-url {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-campaign-duration {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-campaign-percentage {
    text-align: right;
    padding-right: 0.5em;
    overflow-x: hidden;
    vertical-align: middle;
}


.church-profile-picture {
    vertical-align: middle;
    width: 4em;
    height: 4em;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    margin-left: 0.5em;
}
.col-church-profile-picture {
    text-align: center;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-church-name {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
    padding-top: 1.5em;
}
.col-church-state {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
    padding-top: 1.5em;
}
.col-church-contact {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
    padding-top: 1.5em;
}
.col-church-campaign {
    text-align: right;
    padding-right: 0.5em;
    overflow-x: hidden;
    vertical-align: middle;
    padding-top: 1.5em;
}


.col-language-id {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-language-name {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-language-region {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-language-continent {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}


.col-user-name {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
    padding-top: 0.5em;
}
.col-user-email {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
    padding-top: 0.5em;
}
.col-user-role {
    text-align: right;
    padding-right: 0.2em;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-user-role img {
    width: 2em;
    height: auto;
    vertical-align: middle;
}


.col-transaction-tid {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-transaction-cid {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-transaction-name {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-transaction-verses {
    text-align: right;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-transaction-amount {
    text-align: right;
    overflow-x: hidden;
    vertical-align: middle;
}
.col-transaction-date {
    text-align: left;
    overflow-x: hidden;
    vertical-align: middle;
    padding-left: 5em;
}
.col-transaction-buttons {
    text-align: right;
    vertical-align: middle;
}
.col-transaction-buttons button {
    background: none;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 0.7em;
    padding: 0;
    border-radius: 50%;
}
.col-transaction-buttons button:hover {
    background: #fff;
}
.col-transaction-buttons img {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

#list-transaction .list-item {
    cursor: default;
}
#list-transaction .list-item.transaction-denied div {
    color: #d1d1d1;
}




.drop-item.added {
    color: #ccc !important;
    cursor: default !important;
}
.drop-item.added:hover {
    background: none !important;
}
.drop-item.added .church-tag, .drop-item.added .language-tag {
    color: #ccc !important;
}

#list-language .list-item {
    text-align: left;
    vertical-align: middle;
}


#language-info {
    display: none;
}

#add-language {
    width: 26em;
}
#drop-add-language {
    width: 26em;
}

.outline-button {
    width: 16em;
    border: 1px solid #039da6;
    border-radius: 4px;
    background: none;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #039da6;
    margin-bottom: 1em;
    z-index: 10;
    cursor: pointer;
}
.outline-button:hover {
    background: #039da6;
    color: #fff;
}


.tag-id {
    float: left !important;
    padding-top: 0.1em;
    width: 3.5em;
    color: #555 !important;
    font-size: 0.9em;
    vertical-align: middle;
}



.status-complete, .status-inprogress, .status-coming, .status-pending {
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    margin-left: 1.5em;
}
.status-complete {
    background: #bbb;
}
.status-inprogress {
    background: #039da6;
}
.status-coming {
    background: #FD9A00;
}
.status-pending {
    border: 1px solid #aaa;
}




#column-transaction-date {
    padding-left: 5em;
}
#column-transaction-verses, #column-transaction-amount {
    text-align: right;
}





#church-input-profile-picture {
    position: absolute;
    margin-top: 0.3em;
    margin-left: -15.5em;
    width: 15.2em;
    height: 3em;
    cursor: pointer;
    opacity: 0;
}
#church-preview-profile-picture {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    margin-bottom: 1em;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-image: url('../../img/choose_image.png');
}
#error-church-profile-picture {
    margin-top: -3.9em !important;
    margin-left: 17em !important;
}





#confirm-wrapper {
    max-width: 950px;
    padding: 2.5em;
    margin: 0;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    text-align: center;
    border-radius: 4px;
    transition: padding 0s;
}

#confirm-top-bar {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 2em;
}