
#content-create-campaign, #content-create-campaign-result, #content-index {
    padding: 0;
    padding-top: 4em;
    padding-bottom: 4em;
}
#content-create-campaign section, #content-create-campaign-result section, #content-index section {
    padding-top: 4em;
    padding-bottom: 2em;
    border-bottom: 1px solid #d1d1d1;
    width: 90%;
}


#content-create-campaign div#title, #content-create-campaign-result div#title, #content-index div#title {
    font-size: 1.5em;
    font-family: "Gotham-Bold" !important;
    color: #444;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-top: 1em;
}

#content-index p, #content-create-campaign-result p, #div-description {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    vertical-align: top;
}

#div-description p, #div-description h1, #div-description h2, #div-description h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.3em;
}

.column-left {
    text-transform: uppercase;
    font-size: 1em;
    font-family: "Gotham-Bold" !important;
    display: inline-block;
    margin: 0;
    width: 25%;
    text-align: right;
    vertical-align: top;
    padding-top: 0.5em;
    color: #5d5c5a;
}
.column-tip {
    width: 3%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-top: 0.4em;
}
.column-right {
    font-size: 1em;
    display: inline-block;
    margin: 0;
    width: 71%;
    padding-bottom: 1em;
    padding-left: 3em;
    text-align: left;
    vertical-align: top;
}

#last-section {
    border: 0 !important;
    padding-bottom: 4em !important;
}

.tool-tip {
    background: #9e9e9e;
    color: #fff;
    font-size: 0.9em;
    font-family: "Gotham-Bold" !important;
    text-align: center;
    padding-top: 0.15em;
    width: 1.5em !important;
    height: 1.5em !important;
    border-radius: 50%;
    position: absolute;
    float: right !important;
    margin-left: 0.3em;
    margin-top: 0.7em;
    cursor: default !important;
}
.tool-tip .tooltip {
    opacity: 0;
    width: 15em;
    background-color: #444;
    color: #fff;
    text-align: left;
    border-radius: 4px;
    padding: 1em;
    font-size: 0.9em;
    font-family: "Gotham-Book";
    line-height: 1.5;
    position: absolute;
    z-index: 10;
    margin-left: -13em;
    margin-top: 1.5em;
    transition: opacity 0.3s;
}
.tool-tip .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: 5.9em;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #444 transparent;
}
.tool-tip:hover .tooltip {
    opacity: 1;
}



#campaign-church {
    margin-top: 0.5em;
}


#drop-church, #drop-language, #drop-book, #campaign-language, #campaign-book{
    width: 25em;
}



#num-verses {
    font-size: 0.9em;
    color: #999;
    vertical-align: middle;
    margin-left: 0.3em;
}





.money {
    font-size: 1.4em !important;
    font-family: "Gotham-Book" !important;
    font-weight: 900;
}


#profile-preview {
    display: none;
    width: 4em;
    height: 4em;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 0.5px solid #d1d1d1;
    vertical-align: middle;
    margin-bottom: 0.5em;
    position: absolute;
    margin-top: -0.7em;
}

#campaign-profile-picture {
    padding: 0.5em;
    width: 15em;
    font-size: 1em;
    vertical-align: middle;
    opacity: 0;
    z-index: 3;
    margin-top: 1.5em;
    position: absolute;
    cursor: pointer;
}
#campaign-profile-picture::before, #campaign-profile-picture::after {
    cursor: pointer;
}

#profile-button {
    padding: 0.5em;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8em;
    vertical-align: middle;
    margin-bottom: 1em;
    margin-right: 2em;
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: none;
    font-family: "Gotham-Book" !important;
    color: #777;
}
