

#content-create-campaign, #content-create-campaign-result, #content-edit-campaign, #content-index {
    padding: 0;
    padding-top: 4em;
    padding-bottom: 4em;
}
#content-create-campaign section, #content-create-campaign-result section, #content-edit-campaign section, #content-index section {
    padding-top: 4em;
    padding-bottom: 2em;
    border-bottom: 1px solid #d1d1d1;
    width: 90%;
}


#content-create-campaign div#title, #content-create-campaign-result div#title, #content-edit-campaign div#title, #content-index div#title {
    font-size: 1.5em;
    font-family: "Gotham-Bold" !important;
    color: #444;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-top: 1em;
}

#content-index p, #content-edit-campaign p, #content-create-campaign-result p, #div-description {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    vertical-align: top;
}

.column-left {
    text-transform: uppercase;
    font-size: 1em;
    font-family: "Gotham-Bold" !important;
    display: inline-block;
    margin: 0;
    width: 25%;
    text-align: right;
    vertical-align: top;
    padding-top: 0.5em;
    color: #5d5c5a;
}
.column-tip {
    width: 3%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-top: 0.4em;
}
.column-right {
    font-size: 1em;
    display: inline-block;
    margin: 0;
    width: 71%;
    padding-bottom: 1em;
    padding-left: 3em;
    text-align: left;
    vertical-align: top;
}




input[type='date'] {
    margin: 0;
    margin-bottom: 1em;
}

#last-section {
    border: 0 !important;
    padding-bottom: 4em !important;
}

.tool-tip {
    background: #9e9e9e;
    color: #fff;
    font-size: 0.9em;
    font-family: "Gotham-Bold" !important;
    text-align: center;
    padding-top: 0.15em;
    width: 1.5em !important;
    height: 1.5em !important;
    border-radius: 50%;
    position: absolute;
    float: right !important;
    margin-left: 0.3em;
}

.dropdown {
    width: 16em;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: none;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    text-align: left;
}
.dropdown img {
    float: right;
    width: 1.5em;
    margin-top: 0.2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drop {
    visibility: hidden;
    position: absolute;
    width: 16em;
    max-height: 20em;
    overflow-y: auto;
    border: 0;
    border-radius: 4px;
    background: #fff;
    padding: 0.7em;
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: -0.5em;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}
.drop-item {
    color: #555;
    cursor: pointer;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1em;
    background: none;
    border: 0;
    border-radius: 2px;
}
.drop-item:hover {
    background: #e5e5e5;
}
.drop-item span {
    float: right;
    color: #aaa;
    font-size: 0.9em;
    vertical-align: middle;
}
.drop-group {
    color: #aaa;
    cursor: default;
    font-size: 0.9em;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}



#drop-church, #drop-language, #drop-book,
#campaign-church, #campaign-language, #campaign-book{
    width: 25em;
}


.error {
    visibility: hidden;
    position: absolute;
    float: right !important;
    width: 18em;
    border: 0;
    border-radius: 4px;
    background: none;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.95em;
    font-family: "Gotham-Book" !important;
    color: #555;
    margin-left: -1.3em;
    vertical-align: middle;
}

.error-icon {
    margin-right: 0.5em;
    width: 1.7em;
    height: auto;
    vertical-align: middle;
}
.green {
    color: #43b471;
}
.red {
    color: #db5353;
}


#num-verses {
    font-size: 0.9em;
    color: #999;
    vertical-align: middle;
    margin-left: 0.3em;
}



#editor {
    width: 40em;
    color: #777;
    font-size: 1em;
    min-height: 8em;
    font-family: "Gotham-Book" !important;
    border-radius: 0 0 4px 4px;
    margin-bottom: 1em;
}
.ql-toolbar.ql-snow {
    width: 40em;
    border: 1px solid #d1d1d1;
    border-radius: 4px 4px 0 0;
}
#editor p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.ql-container.ql-snow, .ql-toolbar.ql-snow {
    border-color: #d1d1d1;
}

.money {
    font-size: 1.4em !important;
    font-family: "Gotham-Book" !important;
    font-weight: 900;
}





::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #bbb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #bbb;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bbb;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaa;
}