
#church-wrapper {
    max-width: 1100px;
    padding: 2em;
    padding-top: 0;
    margin: 0;
    text-align: center;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.church-section {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    vertical-align: top;
}
#section-profile {
    width: 35%;
    height: 30em;
}
#section-campaigns, #section-church {
    width: 100%;
}
#section-admins {
    width: 65%;
}
.church-content {
    padding: 1em;
    margin: 1em;
    min-height: 30em;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    border-radius: 4px;
    background: #fff;
}

.church-title {
    font-size: 1.1em;
    font-family: "Gotham-Bold" !important;
    color: #606060;
    text-align: left;
    padding: 1em;
    padding-top: 0.5em;
    text-transform: uppercase;
    border-bottom: 1px solid #d1d1d1;
}



#church-profile-picture {
    display: inline-block;
    width: 12em;
    height: 12em;
    border: 0.5px solid #d1d1d1;
    border-radius: 50%;
    margin: 0;
    margin-top: 3em;
    margin-bottom: 2em;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-image: url('../../img/choose_image.png');
    vertical-align: middle;
    text-align: center;
    color: transparent;
}
#church-profile-picture:hover {
    background-color: rgba(50,50,50,.5);
    z-index: 20;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

#church-profile-picture span {
    display: inline-block;
    padding-top: 5.5em;
}
#input-profile-picture {
    position: absolute;
    margin-top: 0.3em;
    margin-left: -15.5em;
    width: 15.2em;
    height: 3em;
    cursor: pointer;
    opacity: 0;
}
#preview-profile-picture {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    margin-bottom: 1em;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-image: url('../../img/choose_image.png');
}
#error-profile-picture {
    margin-top: -3.9em !important;
    margin-left: 17em !important;
}

#church-name {
    font-size: 1.2em;
    font-family: "Gotham-Bold" !important;
    color: #666;
    text-transform: uppercase;
}
#church-state {
    margin-top: 0.6em;
    font-size: 1em;
    color: #aaa;
}


#church-admins {
    padding: 1em;
    max-height: 23.5em;
    overflow-y: auto;
}
.church-admin {
    border: 0;
    padding: 1em;
    text-align: left;
}
.church-admin-name {
    font-size: 1em;
    color: #666;
    vertical-align: middle;
    display: inline-block;
    width: 14em;
}
.church-admin-email {
    font-size: 0.9em;
    color: #999;
    vertical-align: middle;
    display: inline-block;
    margin-left: 2em;
}
.church-admin-delete {
    vertical-align: middle;
    display: inline-block;
    float: right;
    text-align: right;
}
.church-admin-delete img {
    width: 1.3em;
    height: auto;
    margin: 0;
    cursor: pointer;
    visibility: hidden;
    margin-top: 0.06em;
}
.church-admin-pending {
    vertical-align: middle;
    display: inline-block;
    float: right;
    text-align: right;
    font-size: 0.8em;
    padding-top: 0.25em;
    border-radius: 2px;
    color: #FD9A00;
    margin-right: 2em;
}


.button-admin-add {
    vertical-align: middle;
    float: right;
    width: 2em;
    height: 2em;
    cursor: pointer;
    margin-top: -0.25em;
}


#church-campaigns {
    padding: 1em;
    text-align: left;
}
.church-campaign-div {
    width: 33.33%;
    display: inline-block;
    padding: 1.3em;
    text-align: center;
}
.church-campaign {
    padding: 1.3em;
    border: 2px solid #039da6;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
}
.church-campaign:hover {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(40,40,40,0.4);
    -moz-box-shadow: 0px 0px 30px 0px rgba(40,40,40,0.4);
    box-shadow: 0px 0px 30px 0px rgba(40,40,40,0.4);
}
.church-campaign-top {
    font-size: 1em;
    text-align: left;
    color: #666;
}
.church-campaign-book {
    padding: 0.4em;
    font-size: 1.3em;
    margin-top: 2em;
    text-align: center;
    color: #666;
}
.church-campaign-language {
    font-size: 1em;
    color: #999;
    text-align: center;
    border-bottom: 0.5px solid #d1d1d1;
    padding-bottom: 1.5em;
}
.church-campaign-raised {
    padding: 0.4em;
    font-size: 1.5em;
    margin-top: 0.7em;
    text-align: center;
    color: #666;
    font-family: "Gotham-Bold" !important;
}
.church-campaign-goal {
    font-size: 0.85em;
    text-align: center;
    color: #666;
}
.church-campaign-bottom {
    font-size: 0.9em;
    margin-top: 2.5em;
}

.church-campaign-bar {
    width: 80%;
    display: inline-block;
    border-radius: 100px;
    background: #eee;
    vertical-align: middle;
}
.church-campaign-progress {
    height: 0.5em;
    width: 0%;
    background: #039da6;
    border-radius: 100px;
}
.church-campaign-percent {
    width: 20%;
    display: inline-block;
    text-align: right;
    font-family: "Gotham-Bold" !important;
    font-size: 0.9em;
    color: #039da6;
    vertical-align: middle;
}


.church-campaign-status {
    font-family: "Gotham-Bold" !important;
    font-size: 0.9em;
    color: #039da6;
    float: right;
    text-transform: uppercase;
}
.church-campaign-status.active {
    color: #039da6;
}
.church-campaign-status.coming {
    color: #FD9A00;
}
.church-campaign-status.complete {
    color: #bbb;
}
.church-campaign.complete {
    border: 2px solid #bbb;
    color: #bbb !important;
}
.church-campaign.complete:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.church-campaign-progress.complete {
    background: #bbb;
}
.church-campaign-percent.complete {
    color: #bbb;
}




.church-campaign.coming {
    border: 2px solid #FD9A00;
    color: #FD9A00 !important;
}
.church-campaign-progress.coming {
    background: #FD9A00;
}
.church-campaign-percent.coming {
    color: #FD9A00;
}



.index-content {
    box-sizing: border-box;
    width: 100%;
    padding: 3em;
    margin: 0;
    text-align: center;
}



#count-number {
    color: #444;
    padding: 0.5em;
    vertical-align: middle;
    font-size: 0.8em;
    font-family: "Gotham-Bold" !important;
}
#count-number div {
    display: inline-block;
    vertical-align: middle;
    text-align: center !important;
    text-transform: uppercase;
    width: 3em;
}
#count-number span {
    font-family: "Gotham-Bold" !important;
    font-size: 1.7em !important;
}
.count-days, .count-hours, .count-minutes {
    margin-right: 2em;
}





.admin-tab-content {
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 0.5em;
    margin: 0;
    text-align: center;
}

.admin-tab-content-now {
    display: block;
}


.admin-tab {
    padding: 0;
}

.admin-tabs {
    font-size: 0.9em;
    background: #fff;
    outline: none;
    color: #606060;
    font-family: "Gotham-Book" !important;
    cursor: pointer;
    padding: 0.7em;
    padding-right: 1.5em;
    padding-left: 2em;
    border: 1px solid #d1d1d1;
    border-radius: 100px 0px 0px 100px;
    margin: 0;
}
.admin-tabs:hover {
    background: #f2f2f2;
}
.admin-tabs-now:hover {
    background: #048484;
}
.admin-tabs-now {
    background: #039da6;
    color: #fff;
    border: 1px solid #039da6;
    //border-bottom: 2px solid #039da6;
}
#admin-tab-2 {
    margin-left: -0.55em;
    padding: 0.7em;
    padding-left: 1.5em;
    padding-right: 2em;
    border-radius: none;
    border-radius: 0px 100px 100px 0px;
}




#back-button {
    font-size: 1.2em;
    background: none;
    cursor: pointer;
    color: #fff;
    border: 0;
    margin-bottom: 0.4em;
}
#back-button i {
    font-size: 1.25em;
    font-weight: 700;
    margin-right: 0.3em;
}
#section-church {
    text-align: left;
    padding-left: 1em;
}