#landing-wrapper {
    max-width: 40em;
    min-height: 20em;
    padding: 2em;
    margin-top: 1em;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    text-align: center;
    border-radius: 4px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.index-content {
    box-sizing: border-box;
    width: 100%;
    padding: 3em;
    margin: 0;
    text-align: center;
}
.campaign-list {
    width: 30em;
    border: 0;
    padding: 0.7em;
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin: 0;
    margin-bottom: 3em;
}
.campaign-item {
    color: #555;
    cursor: pointer;
    padding: 0.9em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1em;
    background: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.campaign-item:hover {
    background: #f2f2f2;
}
.campaign-item span {
    float: right;
    color: #aaa;
    font-size: 0.9em;
    vertical-align: middle;
}
.campaign-group {
    color: #aaa;
    cursor: default;
    font-size: 0.9em;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


.landing-title {
    font-family: "Gotham-Bold" !important;
    font-size: 1em;
    margin-bottom: 1em;
    color: #777;
}


.landing-content {
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: 3em;
    margin: 0;
    text-align: center;
}
.landing-content-now {
    display: block;
}


.landing-tabs {
    font-size: 0.9em;
    background: none;
    border: none;
    outline: none;
    color: #606060;
    font-family: "Gotham-Bold" !important;
    cursor: pointer;
    padding: 1em;
    border-bottom: 4px solid #fff;
    margin-left: 1em;
    margin-right: 1em;
}
.landing-tabs-now {
    border-bottom: 6px solid #039da6;
}



.landing-text {
    width: 28em;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: none;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
}

.list {
    width: 30em;
    border: 0;
    padding: 0.7em;
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
    font-family: "Gotham-Book" !important;
    color: #606060;
    margin: 0;
}
.list-item:last-child {
    border-bottom: 0 !important;
}
.list-item {
    color: #555;
    cursor: pointer;
    padding: 0.9em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1em;
    background: none;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 2px;
}
.list-item:hover {
    background: #f2f2f2;
}
.list-item span {
    float: right;
    color: #aaa;
    font-size: 0.9em;
    vertical-align: middle;
}
.list-group {
    color: #aaa;
    cursor: default;
    font-size: 0.9em;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.row-1 {
    display: block;
    text-align: left;
}
.row-2 {
    display: block;
    text-align: left;
    color: #aaa;
}


.landing-add {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



.landing-button {
    width: 31em;
    border: 1.99px dashed #ccc;
    border-radius: 4px;
    background: #fff;
    padding: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.9em;
    font-family: "Gotham-Book" !important;
    color: #c1c1c1;
    cursor: pointer;
    margin-top: 1em;
}
.landing-button:hover {
    background: #f2f2f2;
}

.landing-button img {
    margin-right: 1em;
    width: 1.6em;
    height: 1.6em;
    vertical-align: middle;
}
