
#tab-about, #tab-goal {
    padding-top: 5em;
    padding-bottom: 7em;
    padding-left: 10em;
    padding-right: 10em;
}

.tab-title {
    font-family: "Gotham-Bold" !important;
    font-size: 1.5em;
    color: #5d5c5a !important;
    text-align: left;
    text-transform: uppercase;
}


.tab-text {
    margin-top: 2.7em;
    margin-bottom: 2.7em;
    padding: 0;
    text-align: left;
}
.tab-text p {
    font-family: "Gotham-Book" !important;
    font-size: 1em;
    color: #777;
    line-height: 2;
}

.tab-button {
    border: 2px solid #039da6;
    color: #039da6;
    font-size: 1em;
    font-family: "Gotham-Bold" !important;
    background: none;
    border-radius: 4px;
    margin: 0;
    padding: 0.6em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    cursor: pointer;
}


#small-photo-content {
    display: none;
}



#small-div-details {
    max-height: 25em !important;
    height: 25em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
    overflow-y: auto;
    padding: 0;
}

.div-details-img {
    float: left;
    width: 25%;
    display: inline-block;
    padding-right: 1em;
}
.div-details-content {
    float: left;
    width: 75%;
    display: inline-block;
    text-align: left;
    padding-left: 1em;
    padding-bottom: 1.5em;
}

.details-img {
    display: block;
    width: 3em;
    margin: 0;
    float: right;
}
.details-title {
    display: block;
    font-size: 0.9em;
    color: #AEAEAF;
    text-transform: uppercase;
    font-family: "Gotham-Medium" !important;
    padding: 0;
    margin-top: 1.3em;
    margin-bottom: -0.2em;
}
.details-info {
    display: block;
    font-size: 1.15em;
    color: #5E5E5E;
    font-family: "Gotham-Medium" !important;
}



#small-language-content {
    height: 26em;
}




#small-side-photo {
    
}

#small-photo-content {
    padding: 1em;
    padding-top: 2em;
    position: relative;
    height: 18em;
}

#first-photo {
    width: 100%;
    height: auto;
    
}
#more-photo {
    text-align: center;
    background: #039da6;
    border-radius: 50%;
    padding: 0.7em;
    position: absolute;
    right: 2em;
    bottom: 3.7em;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    cursor: pointer;
}
#more-photo img {
    width: 1.8em;
    margin: 0;
    vertical-align: middle;
}






/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .div-details-img {
        padding-right: 0.7em;
    }
    .div-details-content {
        padding-left: 0.7em;
        padding-bottom: 1.3em;
    }

    .details-img {
        width: 2.7em;
        margin: 0;
    }
    .details-title {
        font-size: 0.9em;
        padding: 0;
        margin-top: 1.3em;
        margin-bottom: -0.2em;
    }
    .details-info {
        font-size: 1.1em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .div-details-img {
        padding-right: 0.6em;
    }
    .div-details-content {
        padding-left: 0.6em;
        padding-bottom: 1.2em;
    }

    .details-img {
        width: 2.5em;
        margin: 0;
    }
    .details-title {
        font-size: 0.9em;
        padding: 0;
        margin-top: 1.2em;
        margin-bottom: -0.2em;
    }
    .details-info {
        font-size: 1.1em;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
    #tab-about, #tab-goal {
        padding-top: 3em;
        padding-bottom: 3em;
        padding-left: 2em;
        padding-right: 2em;
    }

    .tab-title {
        font-size: 1.2em;
    }

    .tab-text {
        margin-top: 2.7em;
        margin-bottom: 2.7em;
        padding: 0;
        text-align: left;
    }
    .tab-text p {
        font-size: 1em;
        line-height: 2;
    }

    .tab-button {
        font-size: 1.1em;
        margin: 0;
        padding: 0.8em;
        padding-right: 1.7em;
        padding-left: 1.7em;
    }


    .div-details-img {
        padding-right: 1em;
    }
    .div-details-content {
        padding-left: 1em;
        padding-bottom: 1.5em;
    }

    .details-img {
        width: 3em;
        margin: 0;
    }
    .details-title {
        font-size: 0.9em;
        padding: 0;
        margin-top: 1.3em;
        margin-bottom: -0.2em;
    }
    .details-info {
        font-size: 1.15em;
    }
    
    
    
    #language-photo {
        position: relative;
    }
    #more-photo {
        padding: 0.8em;
        position: absolute;
        right: 1.2em;
        bottom: 1.4em;
    }
    #more-photo img {
        width: 2em;
    }

    
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    
}