.top-gap {
    margin-top: 4em !important;
}
.top-gap-more {
    margin-top: 25em !important;
}



#campaign-duration {
    margin-top: 5em;
    text-align: center;
    background: none;
    color: #555;
    border-radius: 2px;
    padding: 1em;
    vertical-align: middle;
    font-size: 1em;
    font-family: "Gotham-Bold" !important;
}
#count-number div {
    display: inline-block;
    vertical-align: middle;
    text-align: center !important;
    text-transform: uppercase;
    width: 3em;
}
#campaign-duration span {
    font-family: "Gotham-Bold" !important;
    font-size: 1.8em !important;
}
.count-days, .count-hours, .count-minutes {
    margin-right: 2em;
}
#count-range {
    display: inline-block;
    width: auto !important;
    padding-left: 2em;
    font-size: 1.3em !important;
}
#count-number {
    display: inline-block;
    padding-right: 2.5em;
    border-right: 2px solid #555;
}

#div-chart {
    display: inline-block;
    float: left;
    margin: 0;
    text-align: center;
    padding: 0;
    background: none !important;
    width: 18em;
    text-align: left;
    height: 12em !important;
}
#div-chart div {
    background: none !important;
    text-align: left;
}
#div-chart-info {
    display: inline-block;
    width: 18em;
    float: left;
}
#div-chart-percentage {
    display: block;
    position: absolute;
    z-index: 5 !important;
    text-align: center !important;
    margin-top: 63px;
    background: none;
    margin-left: 7em;
}



.chart-percent-span {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    font-family: "Gotham-Bold" !important;
    color: #444;
}
#total-percentage {
    font-size: 2em !important;
    letter-spacing: -2px !important;
}
.goal-total-info-1 {
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    font-size: 1.3em;
    color: #444;
    font-family: "Gotham-Bold" !important;
}
.goal-total-info-2 {
    margin-bottom: 1.5em;
    font-size: 1.1em;
    color: #636363;
    font-family: "Gotham-Bold" !important;
}
.goal-total-adopted-verses {
    display: inline-block;
    padding: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1em;
    margin: 0;
    text-align: center;
    background: #eaeaea !important;
    border-radius: 4px;
    color: #444;
    font-family: "Gotham-Bold" !important;
}
#total-adopted {
    color: #039da6;
}


#campaign-description p, #campaign-description h1, #campaign-description h2, #campaign-description h3, #campaign-description h4, #campaign-description h5, #campaign-description h6, #campaign-description ol, #campaign-description ul, #campaign-description pre, #campaign-description blockquote {
    padding: 0;
    margin: 0;
    margin-bottom: 1em !important;
}