/*   vertical-align: middle   */
#church-name,
#adopt-logo,
#church-logo {
    vertical-align: middle !important;
}

.top-bar {
    position: fixed;
    top: 0;
    left; 0;
    background: #fff;
    z-index: 10;
    padding: 0;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    margin: 0 auto;
    text-align: center;
}
.top-bar table {
    clear: both;
    margin: auto;
    max-width: 91em;
}
.top-bar td, tr {
    margin: 0 !impotant;
    padding: 0 !important;
    width: 25%;
}
.top-bar th {
    margin: 0 !impotant;
    padding: 0 !important;
    width: 50%;
    vertical-align: bottom !important;
}

#left-cell {
    text-align: left;
    padding-left: 1.5em !important;
}

#right-cell {
    text-align: right;
    padding-right: 1.5em !important;
}

#button-menu {
    padding: 0.5em;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    min-width: 15em;
    border: 0;
    font-family: "Gotham-Book" !important;
    background: none;
    cursor: pointer;
    color: #888;
    font-size: 1em;
}
#button-menu img{
    width: 1.3em;
    margin-top: 0.2em;
    margin-left: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



#church-name {
    font-size: 0.9em;
    font-family: "Gotham-Bold" !important;
    text-transform: uppercase;
    display: inline-block;
}

.top-bar-church {
    max-width: 350px;
    right: 0;
    float: right;
    margin-right: 1.5em !important;
}


#adopt-logo {
    width: 7em;
    height: auto;
    margin: 1.5em;
    margin-left: 0;
}
#church-logo {
    display: inline-block;
    border-radius: 50%;
    border: 0.5px solid #ddd;
    background-image: url('../../img/choose_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 3em;
    height: 3em;
    margin: 1.1em !important;
    margin-right: 0.5em !important;
}



.div-nav {
    text-align: center;
    vertical-align: bottom !impmortant;
}

.div-tab {
    
}

.tabs {
    font-size: 0.9em;
    background: none;
    border: none;
    outline: none;
    color: #606060;
    font-family: "Gotham-Bold" !important;
    cursor: pointer;
    padding: 1em;
    border-bottom: 6px solid #fff;
    margin-left: 1em;
    margin-right: 1em;
}
.tabs-now {
    border-bottom: 6px solid #039da6;
}

#menu-icon {
    width: 2.3em;
    height: auto;
    margin: 1.4em;
}
#top-bar-menu {
    position: fixed;
    cursor: pointer;
}
#top-bar-logo {
    text-align: center;
    vertical-align: middle;
}
#toggle-menu {
    text-align: center;
    display: none;
    //background: #efefef;
    padding: 1em;
}
#mobile-church-name {
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: "Gotham-Bold" !important;
    display: inline-block;
    vertical-align: middle;
}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    #adopt-logo {
        width: 6em;
        margin: 1.5em !important;
    }
    #church-logo {
        width: 2.4em;
        height: 2.4em;
        margin: 1.5em !important;
        margin-right: 1em !important;
    }
    .top-bar-church {
        max-width: 300px;
        right: 0;
        float: right;
        margin-right: 1.5em !important;
    }
    .tabs {
        font-size: 0.9em;
        padding: 1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-bottom: 5px solid #fff;
        margin-left: 0.6em;
        margin-right: 0.6em;
    }
    .tabs-now {
        border-bottom: 5px solid #039da6;
    }
    #church-name {
        font-size: 0.9em;
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .top-bar td, tr {
        margin: 0 !impotant;
        padding: 0 !important;
        width: 20%;
    }
    .top-bar th {
        margin: 0 !impotant;
        padding: 0 !important;
        width: 60%;
        vertical-align: bottom !important;
    }
    #adopt-logo {
        width: 6em;
        margin: 1.5em !important;
    }
    #church-logo {
        width: 2.4em;
        height: 2.4em;
        margin: 1.5em !important;
        margin-right: 1em !important;
    }
    .top-bar-church {
        max-width: 300px;
        right: 0;
        float: right;
        margin-right: 1.5em !important;
    }
    .tabs {
        font-size: 0.85em;
        padding: 1em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        border-bottom: 5px solid #fff;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .tabs-now {
        border-bottom: 5px solid #039da6;
    }
    #church-name {
        font-size: 0.8em;
    }
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    #adopt-logo {
        width: 6.5em;
        margin: 1.4em !important;
    }
    #church-logo {
        width: 2.5em;
        height: 2.5em;
        margin: 1.2em !important;
        margin-right: 1em !important;
    }
    .div-tab {
        width: 90%;
        display: inline;
        text-align: left;
    }
    .tabs {
        display: block;
        font-size: 0.9em;
        color: #606060;
        border: 0;
        font-family: "Gotham-Bold" !important;
        cursor: pointer;
        padding: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .tabs-now {
        color: #039da6;
        border: 0;
    }
    .top-bar-church {
        width: 100% !important;
        
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    #menu-icon {
        width: 2em;
        height: auto;
        margin: 1.4em;
        cursor: pointer;
    }
    #top-bar-logo {
        padding-left: 3em;
        padding-right: 3em;
    }
    #toggle-menu {
        text-align: center;
        display: none;
        //background: #efefef;
        padding: 1em;
    }
    #mobile-church-name {
        font-size: 0.9em;
        text-align: left;
        width: 60%;
    }
    #adopt-logo {
        width: 6em;
        margin: 1.4em !important;
    }
    #church-logo {
        width: 2.4em;
        height: 2.4em;
        margin: 1.1em !important;
        margin-right: 1em !important;
    }
    .tabs {
        font-size: 0.9em;
        padding: 0.8em;
        margin-left: 1em;
        margin-right: 1em;
    }

    
}